<h1>Home</h1>

<p>
  Welcome to EnlightenBlog a place to learn and teach Dharma<br/>
  To share experiences and read posts from Dharma masters<br/>
  Login if you are already signed up or sign up if you<br/>
  Have not and wish to
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
